---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About the project">
  <h2
    class="text-4xl text-center font-bold tracking-wide text-gray-200 mx-auto"
  >
    Learn more about our projects
  </h2>
</Layout>
